
@import url('https://fonts.googleapis.com/css?family=Ubuntu:300,400,500');
/** Regular */
@font-face {
    font-family: "SFUITextLight";
    src: url("fonts/SFUITextLight.ttf");
}

/** Medium */
@font-face {
    font-family: "SFUIDisplayUltralight";
    src: url("fonts/SFUIDisplayUltralight.ttf");
}

@font-face {
    font-family: "SFUITextSemibold";
    src: url("fonts/SFUITextSemibold.ttf");
}
/**/