body {
    color: #4a4a4a;
}
.main-info {
    height: 642px;
    background: url('../img/bg.png') no-repeat;
    background-position: 100%;
    position: relative;
    z-index: 1;
}
.container {
    max-width:1028px;
    margin: 0 auto;
}

.main-info:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: url("..//img/layer.png");
    background-size: cover;
    z-index: 1;
}
.main-info .container {
    position: relative;
    z-index: 2;
    padding-top: 95px;
}
.main-info .logo-under-text {
    color: #212121;
    margin-top: 75px;
    margin-bottom: 115px;
    text-align: center;
    font-size: 36px;
    font-family:"SFUITextLight",sans-serif;
}
.main-info .logo {
    width: 182px;
    height: 73px;
    background: url('..//img/logo.svg') no-repeat;
    margin: 0px auto;
}
.payment-info {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-end;
    justify-content: center;
    text-align: left;

}
.payment-info p {
    margin: 0;
}
.payment-info__big {
    margin-right: 15px;
    font-size: 90px;
    font-weight: 200;
    text-transform: uppercase;
    display: flex;
    position: relative;
    top: 15px;
    font-family:"SFUIDisplayUltralight",sans-serif;
}
.payment-info__item {
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-end;
}
.payment-info__small {
    font-family: "SFUITextSemibold",sans-serif;
    margin-right: 30px;
    font-size: 16px;
    font-weight: 600;
}

.discover {
    font-family:Ubuntu,sans-serif;
    padding-top: 100px;
    margin-bottom: 60px;
}
.discover-text {
    font-size: 22px;
    font-weight: 400;
    text-align: center;
    margin-top: 60px;
    margin-bottom: 50px;
}
.discover-form {
    text-align: center;
}
.discover-form .form-group input {
    background-color: #f5f5f5;
    border:1px solid transparent;
    color: #4a4a4a;
    width: 280px;
    padding:12px 26px;
    font-size: 17px;
    font-weight: 400;
    border-radius: 5px;
}

.discover-form .form-group {
    margin-bottom: 40px;
}

.discover-form-two {
    text-align: center;
    display: none;
}
.discover-form-two .form-group {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}
.discover-form-two .form-group input {
    box-sizing: border-box;
    border: 1px solid #d1d1d1;
    margin-bottom: 30px;
    width: 307px;
    border-radius: 5px;
    height: 40px;
    padding: 13px 15px;
}

.discover-form-two .form-submit  {
    cursor: pointer;
}

.discover-partners {
    margin-top: 55px;
    margin-bottom: 30px;
    padding-bottom: 10px;
    color: #888888;
    border-bottom: 1px dashed #888888;
    display: inline-block;
    cursor: pointer;
}

.discover-partners svg {
    transition: .5s;
}

.rotate {
    transform: rotate(180deg);
}

.partners-wrapp {
    text-align: center;
}

.discover-form-two .form-group input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #606060 !important;
}
.discover-form-two .form-group input::-moz-placeholder { /* Firefox 19+ */
    color: #606060 !important;
}
.discover-form-two .form-group input:-ms-input-placeholder { /* IE 10+ */
    color: #606060 !important;
}
.discover-form-two .form-group input:-moz-placeholder { /* Firefox 18- */
    color: #606060 !important;
}

.form-submit {
    text-transform: uppercase;
    border:0;
    padding: 13px 0px;
    color: #ffffff;
    background-color: #4a4a4a;
    line-height: 1.5;
    width: 185px;
    cursor: not-allowed;
    border-radius: 5px;
}

.discover-form .form-group input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #bababa !important;
}
.discover-form .form-group input::-moz-placeholder { /* Firefox 19+ */
    color: #bababa !important;
}
.discover-form .form-group input:-ms-input-placeholder { /* IE 10+ */
    color: #bababa !important;
}
.discover-form .form-group input:-moz-placeholder { /* Firefox 18- */
    color: #bababa !important;
}
.discover-socials {
    margin-top: 30px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}
.discover-socials a {
    margin-right: 19px;
}
.discover-socials a:last-child {
    margin-right: 0px;
}

.days,.hours,.minutes,.seconds {
    font-family:"SFUITextLight",sans-serif !important;
    font-weight: 300;
}

.danger {
    border: 1px solid red !important;
}
.true-btn {
    cursor: pointer !important;
}

@media screen and (max-width: 900px) {
    .payment-info__big {
        font-size: 68px;
    }
    .payment-info__small {
        font-size: 12px;
    }
}

@media screen and (max-width: 768px) {
    .main-info {
        min-height: 100%;
        background-size: cover;
        height: 100%;
        padding-bottom: 20px;
    }
    .main-info::before {
        background-size:180%;
        background-position: 50%;
    }
    .discover-form .form-group input {
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 767px ) {
    .circle-wrapp {
        width: 50%;
        display: flex;
        justify-content: center;
        margin-right: 0 !important;
        margin-bottom: 20px;
        font-family:"SFUIDisplayUltralight",Ubuntu,sans-serif !important;
    }
    .circle-item {
        margin-right: 0 !important;
        margin-bottom: 10px;
        margin-left: 0 !important;
    }
    .discover-circles {
        padding: 0 150px;
    }
    .payment-info {
        justify-content: space-around;
    }
    .payment-info__item {
        flex-flow: column nowrap;
        text-align: center;
        align-items: center;
    }
    .payment-info__item div {
        margin:0;
    }
}

@media screen and (max-width: 568px) {
    .payment-info__item {
        width: 50%;
    }
    .discover-form .form-group input {
        margin-bottom: 20px;
        width: 240px !important;
    }

    .logo {
        transform: scale(0.7);
    }
    .main-info .container {
        padding-top: 50px;
    }
    .payment-info {
        align-items: center;
    }
    .main-info {
        background-position: 50%;
        padding-bottom: 100px;
    }
    .discover h2 {
        padding: 0 90px;
    }
    .discover-text {
        margin-top: 40px;
        margin-bottom: 30px;
    }
    .discover-circles {
        padding: 0 30px;
    }
    .main-info::before {
        background: url(..//img/layer.png) repeat-y;
        background-size: 385%;
    }

    .discover-form .form-group {
        margin-bottom: 30px;
    }
    .payment-info__item * {
        margin:0 auto !important;
    }
    .payment-info__small {
        font-size: 12px;
    }
    .payment-info__big {
        font-size: 70px;
        margin-bottom: 10px !important;
    }
    .discover {
        padding-top: 40px;
        font-family: Ubuntu,sans-serif;
    }
    .main-info .logo-under-text {
        font-size: 20px;
        margin-bottom: 60px;
        margin-top: 40px;
        padding: 0 45px;

    }
    .discover h2 {
        padding: 0px 40px;
    }
}

.discover h2 {
    text-align: center;
    margin-bottom: 60px;
    font-size: 22px;
    font-weight: 400;
}

.discover-circles {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.circle-wrapp {
    margin-right: 38px;
}

.circle-wrapp:last-child {
    /*margin-right: 0 !important;*/
}
.circle-item {
    width: 94px;
    height: 94px;
    border-radius: 100%;
    background: #c4c4c4;
    position: relative;
    overflow: hidden;
    margin: 0px 15px;
}

.circle-item::before {
    content: "";
    height: 90px;
    width: 90px;
    background: #ffffff;
    border-radius: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 1;
}
.circle-text {
    text-align: center;
    position: relative;
    z-index: 3;
}
.circle-item.orange {
    color: #f67138;
}
.circle-item.orange::after{
    content: "";
    position: absolute;
    top: 5px;
    width: 94px;
    height: 94px;
    background: #f67138;
    z-index:0;
    left: 30px;
}
.circle-item.maline::after{
    content: "";
    position: absolute;
    top: 0px;
    width: 94px;
    height: 94px;
    background: #e3043d;
    z-index:0;
    left: 46px;
}
.circle-item.velvet::after{
    content: "";
    position: absolute;
    top: -86px;
    width: 94px;
    height: 94px;
    background: #e3043d;
    z-index:0;
    left: 52px;
}
.circle-item.blue::after{
    content: "";
    position: absolute;
    width: 94px;
    height: 94px;
    top: -10px;
    background: #75157a;
    z-index:0;
    left: 52px;
}
.circle-item.maline {
    color: #e3043d;
}
.circle-item.velvet {
    color: #d40046;
}
.circle-item.blue {
    color: #75157a;
}
.circle-text:first-child {
    font-size: 36px;
    margin:0;
    padding-top: 20px;
}
.circle-text:nth-child(2) {
    font-family:"SFUITextSemibold",sans-serif;
    font-size: 8px;
    margin: 0;
}
.shadow {
    background: rgba(0, 0, 0, 0.65);;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    display: none;
}

.popUpMsg {
    position: fixed;
    z-index: 11;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 300px;

    background: #ffffff;
    border-radius: 5px;
    padding: 20px;
    text-align: center;
    font-family:SFUITextLight,sans-serif;
    font-size: 18px;
}

.popup-btn {
    cursor: pointer;
    font-size: 14px;
    width: 120px;
    padding: 8px 0;
}
